tmp/
output/
.env
.env.*
!.env.example
node_modules/
/vendor/
/public/build/
/public/hot
/public/storage
/database/*.sqlite*
!/database/.gitignore
/.phpunit.cache/
/.phpunit.result.cache
/playwright-report/
/test-results/
/.phpactor.json
/.phpactor.yml
.DS_Store
